$grey-color: #869f9e;
$black-color: #000;
$brand-color: #2ABD65;


$grey-light-color: #f8f8f8;
$dark-color: #383a39;

$color1: #2e434c;
$color2: #2b7076;
$color6: #519dae;
$color3: #f0d79b;
$color4: #fdf0e6;
$color5: #ee9f8b;


